<h2 mat-dialog-title>修改密碼</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>當前密碼</mat-label>
      <input matInput type="password" formControlName="originPassword">
      @if(passwordForm.get('originPassword')?.hasError('required')){
      <mat-error>
        必填
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>新密碼</mat-label>
      <input matInput type="password" formControlName="newPassword">
      @if(passwordForm.get('newPassword')?.hasError('required')){
      <mat-error>
        必填
      </mat-error>
      }
      @if(passwordForm.get('newPassword')?.hasError('minlength')){
      <mat-error>
        至少4位數
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>確認新密碼</mat-label>
      <input matInput type="password" formControlName="confirmPassword">

    </mat-form-field>
    @if(passwordForm.hasError('mismatch')){
      <mat-error>
        新密碼與確認密碼不一致
      </mat-error>
      }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()" [disabled]="isLoading">取消</button>
  <button mat-flat-button color="primary" (click)="changePassword()" [disabled]="passwordForm.invalid || isLoading">
    @if(isLoading){
    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
    }
    @else {
    確認修改
    }
  </button>
</mat-dialog-actions>
